.documentContainer {
    background-color: black;
    margin: 10px 0;
    border: 2px solid rgb(68, 68, 68);
    padding: 10px;
    border-radius: 10px;
    p {
        margin: 5px;
        color: rgb(209, 209, 209);
    }
    .smallText {
        margin-top: 15px;
        font-size: 10px;
        color: rgb(172, 172, 172);
    }

}